@import '../../utils/variables.scss';

.register {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  &-form {
    width: 20vw;

    background: $teal;
    padding: 20px;

    color: rgba(gray, 0.9);

    border-radius: 5px;
  }
}
