@import '../../utils/variables.scss';

.home {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  &-selections {
    width: 20vw;
    height: 25vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background: $teal;
    padding: 20px;

    color: rgba(gray, 0.9);

    border-radius: 5px;

    a {
      color: $redTomato;
      text-decoration: none;
      font-weight: 500;
    }
  }
}
